<h1>Your Score sheet</h1>

<h4>Your word : <%= @word.upcase %></h4>

<ul>
  <% if @grid_word %>
    <li><strong>Good </strong>use of the grid</li>
  <% else %>
    <li><strong>Bad </strong>use of the grid</li>
    <% @result = 0 %>
  <% end %>
  <% if @english_word %>
    <li><strong>Congratulations ! </strong><i><%= @word %></i> is a valid english word</li>
  <% else %>
    <li>Sorry <i><%= @word %></i> is <strong>NOT</strong> a valid english word</li>
    <% @result = 0 %>
  <% end %>
</ul>

<h4>Your score : <%= @result %></h4>



<%= link_to 'Play again', 'new' %>
